.ghost-dialog.negro
  .close-dialog &nbsp;
  .top
    .top-left
    .top-center
      .t-c-left
      .t-c-center
      .t-c-right
    .top-right
  .middle
    .mid-left
      .m-l-left
      .m-l-center
      .m-l-right
    .mid-center.content
      = render @ghost_dialog_content
    .mid-right
      .m-r-left
      .m-r-center
      .m-r-right
  .bottom
    .bot-left
    .bot-center
      .b-c-left
      .b-c-center
      .b-c-right
    .bot-right